<html>
<body>

<div th:if="${isGameOver != true}">
   <a th:href="@{/nextPlay/{lane}(lane=${lane})}">Next Turn	</a>
</div>  
<a th:href="@{/}">Home Page</a>
<!-- <table border=1 th:fragment="player_frame"> -->
<table border=1 th:fragment="player_frame">
  <thead>
    <tr>
      <th>Player ID</th>
      <th>Frame 1</th>
      <th>Frame 2</th>
      <th>Frame 3</th>
      <th>Frame 4</th>
      <th>Frame 5</th>
      <th>Frame 6</th>
      <th>Frame 7</th>
      <th>Frame 8</th>
      <th>Frame 9</th>
      <th>Frame 10</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="player : ${players}">
      <td th:text="${player.id} + 1">&nbsp;</td>
      <td th:text="${player.frames[0]}">&nbsp;</td>
      <td th:text="${player.frames[1]}">&nbsp;</td>
      <td th:text="${player.frames[2]}">&nbsp;</td>
      <td th:text="${player.frames[3]}">&nbsp;</td>
      <td th:text="${player.frames[4]}">&nbsp;</td>
      <td th:text="${player.frames[5]}">&nbsp;</td>
      <td th:text="${player.frames[6]}">&nbsp;</td>
      <td th:text="${player.frames[7]}">&nbsp;</td>
      <td th:text="${player.frames[8]}">&nbsp;</td>
      <td th:text="${player.frames[9]}">&nbsp;</td>
    </tr>
  </tbody>
</table>  
  
</body>
</html>

<!-- </html> -->